# Mac

.DS_Store
.Trashes

# Eclipse Artifacts

.classpath
.project
.settings/


# Insense Build Folders
/insense-*/build/


# IDEA Artifacts

out
*.ipr
*.iws
*.iml
.idea/


# Gradle
.gradle/

# Maven

log/
target/

.git/


